body
{
	font-size: 12px;
	font-family: Verdana, Tahoma;
	margin: 0px;
}

TABLE
{
	font-size: 12px;
	font-family: Verdana, Tahoma;
}

A
{
	color: #000080;
	text-decoration: underline;
}



A:Hover
{
	color: #1e90ff;
	text-decoration: underline;
}
A.Visited
{
	color: #0683ff;
	text-decoration: underline;
}
.collapseOptions
{
	margin: 1px 0 1px 0;
	display: block;
	color: #003399;
	text-decoration: none;
	cursor: pointer;
	padding: 4px 19px 4px 33px;
	white-space: nowrap;
}

.collapseOptions:hover
{
	background-color: #d3d3d3;
	color: #003399;
	padding: 3px 18px 3px 32px;
	border-right: #a9a9a9 1px solid;
	border-top: #a9a9a9 1px solid;
	border-left: #a9a9a9 1px solid;
	border-bottom: #a9a9a9 1px solid;
}

.CollapsePanel
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #dcdcdc;
	border-right: #d3d3d3 1px solid;
	border-top: #d3d3d3 1px solid;
	border-left: #d3d3d3 1px solid;
	border-bottom: #d3d3d3 1px solid;
}

.Grid
{
	background-color: #f5f5f5;
	padding-right: 2px;
	padding-left: 2px;
	margin: 5px 10px 0px 0px;
	padding-top: 3px;
	border-top: #dcdcdc 1px solid;
	border-right: #dcdcdc 1px solid;
	border-left: #dcdcdc 1px solid;
	border-bottom: #dcdcdc 1px solid;
}

.Grid TD
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 3px;
	padding-top: 3px;
}

.Grid TH
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=     '#FFFFFF' , EndColorStr= '#d3d3d3' );
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 3px;
	padding-top: 3px;
	background-color: #d3d3d3;
	text-align: left;
	color: #787878;
}

.Grid TR
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=      '#00FFFF' , EndColorStr= '#dcdcdc' );
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 3px;
	padding-top: 3px;
}


.Grid TD
{
	color: #696969;
}

.Mesaj
{
	color: #003399;
	
	padding: 3px 18px 3px 32px;
	font-weight: bold;
	font-size: 11px;
	display: inline;
}

.TreeNode
{
	margin: 1px 0 1px 0;
	display: block;
	color: #003399;
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 4px;
	padding-top: 4px;
	width: 160px;
	background-color: #dcdcdc;
}


.TreeView
{
	padding-right: 1px;
	padding-left: 0px;
	padding-bottom: 2px;
	background-color: #dcdcdc;
	padding-top: 12px;
}
.ust
{
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=     '#FFFFFF' , EndColorStr= '#d3d3d3' );
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: #a9a9a9 2px solid;
}
