<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="İşKatmanı.Properties.Settings.PPTConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\Tansu\My Documents\Books\DotNet\Source Code\Ornek Proje\PPT.ÖrnekProje\Veri Tabanı\PPT.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>